<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cai.dao.DataFieldMapper" >
  <resultMap id="BaseResultMap" type="com.cai.pojo.DataField" >
    <id column="DATA_FIELD" property="dataField" jdbcType="VARCHAR" />
    <result column="SEQUENCE" property="sequence" jdbcType="VARCHAR" />
    <result column="DATA_TAG" property="dataTag" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="FIELD_TYPE" property="fieldType" jdbcType="VARCHAR" />
    <result column="PT_MASK_GROUP_BO" property="ptMaskGroupBo" jdbcType="VARCHAR" />
    <result column="FIELD_UNIT" property="fieldUnit" jdbcType="VARCHAR" />
    <result column="BOOLEAN_ONE_VALUE" property="booleanOneValue" jdbcType="VARCHAR" />
    <result column="BOOLEAN_ZERO_VALUE" property="booleanZeroValue" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="MODIFIED_DATE" property="modifiedDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    DATA_FIELD, SEQUENCE, DATA_TAG, DESCRIPTION, FIELD_TYPE, PT_MASK_GROUP_BO, FIELD_UNIT, 
    BOOLEAN_ONE_VALUE, BOOLEAN_ZERO_VALUE, CREATE_DATE, MODIFIED_DATE
  </sql>
  <select id="selectByPrimaryKey" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select 
    DATA_FIELD, SEQUENCE, DATA_TAG, DESCRIPTION, FIELD_TYPE, PT_MASK_GROUP_BO, FIELD_UNIT, 
    BOOLEAN_ONE_VALUE, BOOLEAN_ZERO_VALUE
    from pt_data_field
    where DATA_FIELD = #{dataField,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByAnyOne" resultMap="BaseResultMap" parameterType="com.cai.pojo.DataField" >
    select 
    <include refid="Base_Column_List" />
    from pt_data_field
    <where>
      <if test="dataField != null and dataField != ''" >
        DATA_FIELD = #{dataField,jdbcType=VARCHAR}
      </if>
   	  <if test="dataTag != null and dataTag !=''" >
        AND DATA_TAG = #{dataTag,jdbcType=VARCHAR}
      </if>
      <if test="description != null and description != ''" >
        AND DESCRIPTION = #{description,jdbcType=VARCHAR}
      </if>
      <if test="fieldType != null and fieldType != ''" >
        AND FIELD_TYPE = #{fieldType,jdbcType=VARCHAR}
      </if>
      <if test="ptMaskGroupBo != null and ptMaskGroupBo != ''" >
        AND PT_MASK_GROUP_BO = #{ptMaskGroupBo,jdbcType=VARCHAR}
      </if>
      <if test="fieldUnit != null and fieldUnit != ''" >
        AND FIELD_UNIT = #{fieldUnit,jdbcType=VARCHAR}
      </if>
      <if test="booleanOneValue != null and booleanOneValue != ''" >
        AND BOOLEAN_ONE_VALUE = #{booleanOneValue,jdbcType=VARCHAR}
      </if>
      <if test="booleanZeroValue != null and booleanZeroValue != ''" >
        AND BOOLEAN_ZERO_VALUE = #{ptMaskGroupBo,jdbcType=VARCHAR}
      </if>
      <if test="createDate != null and createDate != ''" >
        AND CREATE_DATE = #{fieldUnit,jdbcType=VARCHAR}
      </if>
      <if test="modifiedDate != null and modifiedDate != ''" >
        AND MODIFIED_DATE = #{modifiedDate,jdbcType=VARCHAR}
      </if>
      </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pt_data_field
    where DATA_FIELD = #{dataField,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cai.pojo.DataField" >
    insert into pt_data_field (DATA_FIELD, SEQUENCE, DATA_TAG, 
      DESCRIPTION, FIELD_TYPE, PT_MASK_GROUP_BO, 
      FIELD_UNIT, BOOLEAN_ONE_VALUE, BOOLEAN_ZERO_VALUE, 
      CREATE_DATE, MODIFIED_DATE)
    values (#{dataField,jdbcType=VARCHAR}, #{sequence,jdbcType=VARCHAR}, #{dataTag,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{fieldType,jdbcType=VARCHAR}, #{ptMaskGroupBo,jdbcType=VARCHAR}, 
      #{fieldUnit,jdbcType=VARCHAR}, #{booleanOneValue,jdbcType=VARCHAR}, #{booleanZeroValue,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{modifiedDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.cai.pojo.DataField" >
    insert into pt_data_field
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataField != null" >
        DATA_FIELD,
      </if>
      <if test="sequence != null" >
        SEQUENCE,
      </if>
      <if test="dataTag != null" >
        DATA_TAG,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="fieldType != null" >
        FIELD_TYPE,
      </if>
      <if test="ptMaskGroupBo != null" >
        PT_MASK_GROUP_BO,
      </if>
      <if test="fieldUnit != null" >
        FIELD_UNIT,
      </if>
      <if test="booleanOneValue != null" >
        BOOLEAN_ONE_VALUE,
      </if>
      <if test="booleanZeroValue != null" >
        BOOLEAN_ZERO_VALUE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="modifiedDate != null" >
        MODIFIED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataField != null" >
        #{dataField,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=VARCHAR},
      </if>
      <if test="dataTag != null" >
        #{dataTag,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null" >
        #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="ptMaskGroupBo != null" >
        #{ptMaskGroupBo,jdbcType=VARCHAR},
      </if>
      <if test="fieldUnit != null" >
        #{fieldUnit,jdbcType=VARCHAR},
      </if>
      <if test="booleanOneValue != null" >
        #{booleanOneValue,jdbcType=VARCHAR},
      </if>
      <if test="booleanZeroValue != null" >
        #{booleanZeroValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cai.pojo.DataField" >
    update pt_data_field
    <set >
      <if test="sequence != null" >
        SEQUENCE = #{sequence,jdbcType=VARCHAR},
      </if>
      <if test="dataTag != null" >
        DATA_TAG = #{dataTag,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null" >
        FIELD_TYPE = #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="ptMaskGroupBo != null" >
        PT_MASK_GROUP_BO = #{ptMaskGroupBo,jdbcType=VARCHAR},
      </if>
      <if test="fieldUnit != null" >
        FIELD_UNIT = #{fieldUnit,jdbcType=VARCHAR},
      </if>
      <if test="booleanOneValue != null" >
        BOOLEAN_ONE_VALUE = #{booleanOneValue,jdbcType=VARCHAR},
      </if>
      <if test="booleanZeroValue != null" >
        BOOLEAN_ZERO_VALUE = #{booleanZeroValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="modifiedDate != null" >
        MODIFIED_DATE = #{modifiedDate,jdbcType=DATE},
      </if>
    </set>
    where DATA_FIELD = #{dataField,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cai.pojo.DataField" >
    update pt_data_field
    set SEQUENCE = #{sequence,jdbcType=VARCHAR},
      DATA_TAG = #{dataTag,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      FIELD_TYPE = #{fieldType,jdbcType=VARCHAR},
      PT_MASK_GROUP_BO = #{ptMaskGroupBo,jdbcType=VARCHAR},
      FIELD_UNIT = #{fieldUnit,jdbcType=VARCHAR},
      BOOLEAN_ONE_VALUE = #{booleanOneValue,jdbcType=VARCHAR},
      BOOLEAN_ZERO_VALUE = #{booleanZeroValue,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      MODIFIED_DATE = #{modifiedDate,jdbcType=DATE}
    where DATA_FIELD = #{dataField,jdbcType=VARCHAR}
  </update>
</mapper>