<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cai.dao.user.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.cai.pojo.user.Permission" >
    <id column="permissionid" property="permissionid" jdbcType="VARCHAR" />
    <result column="append" property="append" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="VARCHAR" />
    <result column="upd" property="upd" jdbcType="VARCHAR" />
    <result column="search" property="search" jdbcType="VARCHAR" />
    <result column="exp" property="exp" jdbcType="VARCHAR" />
    <result column="che" property="che" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    permissionid, append, del, upd, search, exp, che
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where permissionid = #{permissionid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from permission
    where permissionid = #{permissionid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cai.pojo.user.Permission" >
    insert into permission (permissionid, append, del, 
      upd, search, exp, che
      )
    values (#{permissionid,jdbcType=VARCHAR}, #{append,jdbcType=VARCHAR}, #{del,jdbcType=VARCHAR}, 
      #{upd,jdbcType=VARCHAR}, #{search,jdbcType=VARCHAR}, #{exp,jdbcType=VARCHAR}, #{che,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cai.pojo.user.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionid != null" >
        permissionid,
      </if>
      <if test="append != null" >
        append,
      </if>
      <if test="del != null" >
        del,
      </if>
      <if test="upd != null" >
        upd,
      </if>
      <if test="search != null" >
        search,
      </if>
      <if test="exp != null" >
        exp,
      </if>
      <if test="che != null" >
        che,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionid != null" >
        #{permissionid,jdbcType=VARCHAR},
      </if>
      <if test="append != null" >
        #{append,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=VARCHAR},
      </if>
      <if test="upd != null" >
        #{upd,jdbcType=VARCHAR},
      </if>
      <if test="search != null" >
        #{search,jdbcType=VARCHAR},
      </if>
      <if test="exp != null" >
        #{exp,jdbcType=VARCHAR},
      </if>
      <if test="che != null" >
        #{che,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cai.pojo.user.Permission" >
    update permission
    <set >
      <if test="append != null" >
        append = #{append,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=VARCHAR},
      </if>
      <if test="upd != null" >
        upd = #{upd,jdbcType=VARCHAR},
      </if>
      <if test="search != null" >
        search = #{search,jdbcType=VARCHAR},
      </if>
      <if test="exp != null" >
        exp = #{exp,jdbcType=VARCHAR},
      </if>
      <if test="che != null" >
        che = #{che,jdbcType=VARCHAR},
      </if>
    </set>
    where permissionid = #{permissionid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cai.pojo.user.Permission" >
    update permission
    set append = #{append,jdbcType=VARCHAR},
      del = #{del,jdbcType=VARCHAR},
      upd = #{upd,jdbcType=VARCHAR},
      search = #{search,jdbcType=VARCHAR},
      exp = #{exp,jdbcType=VARCHAR},
      che = #{che,jdbcType=VARCHAR}
    where permissionid = #{permissionid,jdbcType=VARCHAR}
  </update>
</mapper>